* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("imgs/Domo_BackGround.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: rgb(162, 111, 69);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: rgb(0, 0, 0);
}

main {
  flex: 1;
}

.highlight {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.sub-title {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(162, 111, 69);
}

.about-This {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about-This img {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.about-This p {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Lobster";
  font-size: 1.5rem;
  background-color: rgba(162, 111, 69, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

footer {
  background: rgb(162, 111, 69);
  color: white;
  text-align: center;
  padding: 1rem 0;
}
