* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: black;
}

header {
  background: rgb(90, 0, 90);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

header nav ul li a {
  color: white;
  font-weight: bold;
}

#sub-title {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 100%;
}

#sub-title2 {
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  width: 100%;
}

#p1 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
}
#p2 {
  margin-top: 10px;
  padding-top: 2px;
  text-align: center;
}

main {
  flex: 1;
}

footer {
  background: rgb(90, 0, 90);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.about-me {
  display: flex;
  position: relative;
  gap: 20px;
}

.about-me p {
  position: relative;
  line-height: 1;
}
