* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('imgs/Domo_BackGround.jpg');
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

header {
  background: black;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem; 
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: brown; 
}


main {
  flex: 1;
}

#sub-title{
  display: inline-block;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 100%;
  text-align: center;
}

#p1 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
  text-align: center;
  color: black;
}

.highlight {
  color: brown; 
  text-shadow: 1px 0.5px 4px white; 
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}